@page
@model DocPatientPortal.Views.Organ.OrgSearchModel
@{
    Layout = "_LayoutPractice";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatablejquery').DataTable();

        });
    </script>
}
<br />


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex align-items-center mb-4">
                    <h4 class="card-title mb-sm-0">Doner & Organ Lists</h4>
                </div>
                <table class="table table-light table-hover datatablejquery">
                    <thead>

                        <tr>
                            <th>sn</th>
                            <th>Doner</th>
                            <th>Organ</th>
                            <th>Blood Group</th>
                            <th>Mobile number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @foreach (var item in ViewBag.OrganDetails)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@item.donername</td>
                                <td>@item.organ</td>
                                <td>@item.bloodgroup</td>
                                <td>@item.mobilenumber</td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

