@page
@model DocPatientPortal.Views.Appointment.ApptBookModel

@{
    Layout = "_LayoutPatient";
}

<br />

<h1> @ViewBag.name </h1>
<h1> @ViewBag.phone </h1>
<h1> @ViewBag.email </h1>



<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Category</label>
    <div class="col-10">

        <select class="form-select" aria-label="Default select example" name="doc_spec">
            <option selected>Bone</option>
            <option value="cardiac">Cardiac</option>
            <option value="skin">Skin</option>
            <option value="occult">Occult</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="date">
    </div>
</div>


<div class="form-group row">
    <label for="example-time-input" class="col-2 col-form-label">Time</label>
    <div class="col-10">
        <input class="form-control" type="time" value="13:45:00" id="example-time-input" name="time">
    </div>
</div>

<div class="form-group row">
    <label for="" class="col-2 col-form-label"></label>
    <div class="col-10">
        <a asp-controller="Appointment" asp-action="Check" role="button" class="btn btn-warning font-weight-bold form-control" id="hello0">Check</a>
    </div>
</div>

<table class="table table-dark table-hover">
    <thead>

        <tr class="text-lg-center">

            <th>Doctor</th>
            <th>Speciality</th>
            <th>Room no.</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Data)
        {
            <tr class="text-lg-center" style="font-size:larger;">

                <td>@item.dname</td>
                <td>@item.dspeciality</td>
                <td>@item.droomno</td>
                <td><a class="btn btn-primary" asp-controller="Profile" asp-action="Index" asp-route-did="@item.did">Profile</a>  <a class="btn btn-success text-warning" asp-controller="Appointment" asp-action="ApptView">Book</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn-danger" asp-controller="Login" asp-action="Logout">Logout</a>