@page
@model DocPatientPortal.Views.Appointment.ApptViewModel
@{
    Layout = "_LayoutPatient";
}

<br />
<div style="background-color: grey;color:white; display:flex; justify-content:center;align-items:center;"><p>MY APPOINTMENT</p></div>
<br />
<table class="table table-dark table-hover" id="datatable">
    <thead>

        <tr class="text-lg-center">

            <th>Appointment No.</th>
            <th>Doctor</th>
            <th>Speciality</th>
            <th>Date</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in ViewBag.appointments)
        {
            @foreach (var dd in ViewBag.doctorList)
            {
                if (dd.d_id == appointment.doc_id)
                {
                    <tr class="text-lg-center" style="font-size:larger;">

                        <td>@appointment.aid</td>
                        <td>@appointment.uid</td>
                        <td>@appointment.doc_id</td>
                        <td>@dd.d_full_name</td>
                        <td>@appointment.adate.ToString("dd/MM/yyyy")</td>
                        <td><a class="btn btn-danger">Cancel</a></td>
                    </tr>
                }
            }
        }

        </tbody>
</table>