@page
@model DocPatientPortal.Views.Admin_Doctors.View_DoctorModel
@{
    Layout = "_LayoutPractice";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.adminviewdoctorjq').DataTable();
        });
    </script>
}

<br />
<table class="table table-light table-hover adminviewdoctorjq">
    <thead>

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Update/Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1;}
        @foreach (var doctor in ViewBag.doctorlist)
            {
            
            <tr>
                <td>@i</td>
                <td>@doctor.d_full_name</td>
                <td>@doctor.d_speciality</td>
                <td>@doctor.d_contact</td>
                <td>@doctor.d_email</td>
                <td><a class="btn btn-success" asp-controller="Admin_Doctors" asp-action="gotoUpdate" asp-route-d_username="@doctor.d_username">Update</a>   <a class="btn btn-danger" asp-controller="Admin_Doctors" asp-action="deleteDoctor" asp-route-d_username="@doctor.d_username"> Delete </a></td>
            </tr>
            i++;
        }
    </tbody>
</table>