
@model DocPatientPortal.Models.User
@{
    Layout = "_LayoutPatient";
}
<br />
<div class="mainContainer">
    <!--first card-->
    <div class="personalinfo-card">
        <div class="container">
            <div class="headings">
                <p>Doctor Profile</p>
                <hr>
            </div>
            <div class="content">
                <div class="leftContent">
                    <p>Name: @ViewBag.ViewProfile.dname</p>
                    <p>Gender: @ViewBag.ViewProfile.dgender</p>
                    <!--<p>Blood gp.: O+ve</p>
                    <p>DOB: 1999 A.D.</p>-->
                    <p>Address: @ViewBag.ViewProfile.daddress</p>
                    <p>Nationality: Nepalese</p>
                    <!--<p>Weight: 55 kg.</p>
                    <p>Height: 5.5"</p>-->
                    <p>Contact: @ViewBag.ViewProfile.dnumber</p>
                    <p>Email: @ViewBag.ViewProfile.dmail</p>
                    <p>Degree: @ViewBag.ViewProfile.dacademicqual</p>


                </div>
                <div class="rightContent">
                    <img src="~/image/RanjanBirthday.jpg" alt="profilepic" />

                </div>

            </div>
        </div>
    </div>

</div>

