
@model DocPatientPortal.Models.User
@{
    Layout = "_LayoutPatient";
}
<br />
<div class="mainContainer">
    <!--first card-->
    <div class="personalinfo-card">
        <div class="container">
            <div class="headings">
                <p>Doctor Profile</p>
                <hr>
            </div>
            <div class="content">
                <div class="leftContent">

                    
                    <p>Name: @ViewBag.ViewProfile.d_full_name</p>
                    <p>Gender: @ViewBag.ViewProfile.d_gender</p>
                    <!--<p>Blood gp.: O+ve</p>
                    <p>DOB: 1999 A.D.</p>-->
                    <p>Address: @ViewBag.ViewProfile.d_full_address</p>
                    <p>Nationality: Nepalese</p>
                    <!--<p>Weight: 55 kg.</p>
                    <p>Height: 5.5"</p>-->
                    <p>Contact: @ViewBag.ViewProfile.d_contact</p>
                    <p>Email: @ViewBag.ViewProfile.d_email</p>
                    <p>Speciality: @ViewBag.ViewProfile.d_speciality</p>


                </div>
                <div class="rightContent">
                    <img src="@ViewBag.ViewProfile.d_certificate" alt="profilepic" />

                </div>

            </div>
        </div>
    </div>

</div>

